input,
select,
textarea,
button {
  font-family: "Overpass Mono", monospace;
}
.go-back {
  font-size: 25px;
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 25px;
}
.single-item-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 70%;
  border: 3px solid black;
  border-radius: 7px;
}

.single-item-container__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

.single-item-container__title span {
  font-weight: normal;
  font-size: 16px;
}